ul {
  padding-left: 20px;
  margin: 20px;
}

ul {
  list-style-type: none;
  padding: 0px 10px;
}
li {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.center-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
